*{
    margin: 0%;
    padding: 0%;
}
/* P1.HTML CODE */
section{
    background-color: teal;
    padding: 20px;
    margin: 20px;
}
.transition{
    transition: 2000ms;
    transition: 2s;
    transition: color 2s;
    transition: background-color cal(1s + 1s);
}
.transition:hover{
    background-color: grey;
    color: #fff;
}