/* NAVIGATION BAR */
*{
    padding: 0%;
    margin: 0%;
}
header{
    background-color: #808080;
}
header>nav>img{
    height: 64px;
}
header>nav>ul{
    list-style-type: none;
    float: right;
}
header>nav>ul>li{
    display: inline-block;
    padding: 25px;
}
header>nav>ul>li:hover{
    background-color: #fff;
}
header>nav>ul>li>a{
    color: #fff;
    text-decoration: none;
}
header>nav>ul>li:hover a{
    color: #808080;
}
/* P2>HTML CODE */
.commonBanner{
    height: 400px;
    text-align: center;
    color: #fff;
    padding: 20px; 
}
.commonBanner>div{
    background-color: rgba(0,0,0,0.3);
    padding: 30px;
    line-height: 2;
    display: inline-block;
    box-shadow: -2px -2px 6px #000, 2px 2px 6px #000;
}
.commonBanner>div>h1{
    font-size: 60px;
    text-shadow: 3px 3px 3px #000;
}
.banner1{
    background-color: teal;
}
/* P3.HTML CODE */
.banner2{
    background-image: url(../image/desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* P4.HTML CODE */
.banner3{
    background: linear-gradient(to right, orange, white, green);
}
/* P5.HTML CODE */
.banner4{
    background: repeating-linear-gradient(45deg, rgba(255, 0, 0, 0.5), rgba(1, 131, 1, 0.5)50%);
}
/* P6.HTML CODE */
.banner5{
    background: url(../image/desktop.jpg)no-repeat left, url(../image/tab.jpg)no-repeat right;
    background-size: contain;
}
/* P7.HTML CODE */
.banner6{
    background: linear-gradient(rgba(255, 165, 0, 0.6), rgba(0, 128, 0,0.6)),
     url(../image/desktop.jpg)no-repeat center;
    background-size: 100%;
}
/* P8.HTML CODE */
.banner7{
    background: url(../image/desktop.jpg)
}

/* P9.HTML CODE */
.banner8{
    background: -o-linear-gradient(black, green);
    background: -moz-linear-gradient(black, red);
    background: -webkit-linear-gradient(yellow, red);
    background: linear-gradient(orange, white, red);
}

/* P10.HTML CODE */
.banner9{
    border-color: #808080;
    text-align: left;
    line-height: 2;
}

.common{
    height: 400px;
    width: 300px;
    border: 2px solid #ccc;
    margin: 30px;
    padding: 30px;
}
.example-1{
    background: radial-gradient(orange, white, green);
}
.example-2{
    background: radial-gradient(circle, orange, white, green);
}
.example-3{
    background: radial-gradient(circle farthest-side at left bottom, orange, white, green);
}
.example-4{
    background: repeating-radial-gradient(orange, white, green 20%);
}